{% load render_bundle from webpack_loader %}
{% load static from staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuk Cari Tempat Kape :)</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}"/>
    <link rel="stylesheet" href="../../../node_modules/react-quill/dist/quill.snow.css">
    <script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/react-datepicker/0.44.0/react-datepicker.min.css"/>
    <link rel="icon" type="image/png" href="{% static 'img/logo-sm.png'%}" sizes="32x32" />
  </head>

  <body>
    <div id="react-app"></div>
    {% render_bundle 'main' 'js' 'DEFAULT' attrs='async defer="true"' %}
  </body>
</html>
